<div class="container w-50 p-5 my-5 border rounded-3">
    <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </p>

    <form #form="ngForm" (ngSubmit)="login(form)">
        <h2>Login Form</h2>

        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input ngModel #emailInput="ngModel" [class.input-error]="emailInput.touched && emailInput.invalid" type="email" class="form-control" id="email" placeholder="Enter email"
              name="email" required email>
        </div>

        <ng-container *ngIf="emailInput.touched">
            <p *ngIf="emailInput.errors?.['required']" class="error">
                Email is required!
            </p>
            <p *ngIf="emailInput.errors?.['email']" class="error">
                Email is not valid!
            </p>
        </ng-container>


        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input ngModel #passwordInput="ngModel" [class.input-error]="passwordInput.touched && passwordInput.invalid" type="password" class="form-control" id="password" placeholder="Enter password"
              name="password" required minlength="5">
        </div>

        <ng-container *ngIf="passwordInput.touched">
            <p *ngIf="passwordInput.errors?.['required']" class="error">
                Password is required!
            </p>
            <p *ngIf="passwordInput.errors?.['minlength']" class="error">
                Password must be at least 5 characters!
            </p>
        </ng-container>

        <button type="submit" class="btn btn-primary my-2" [disabled]="form.invalid">Login</button>

        <p class="text-center">
            Don't have an account?
            <a routerLink="/users/register">Register</a>
        </p>
    </form>
</div>