img {
    width: 300px;
    height: 300px;
}

.card:hover {
    transition: box-shadow .3s;
    box-shadow: 10px 10px 5px gray;
    cursor: pointer;
}

.error {
    color: red;
}

.input-error {
    border-color: red;
}