<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container">
        <a class="navbar-brand text-warning" routerLink="/">Dream Style</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item active">
                    <a class="nav-link" routerLink="/" (click)="isMenuCollapsed = true">Home</a>
                </li>
                
                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link" routerLink="/orders/new" (click)="isMenuCollapsed = true">New Order</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link me-5" routerLink="/orders" (click)="isMenuCollapsed = true">Orders</a>
                </li>


                <!-- <li class="nav-item">
                    <a class="nav-link me-5" routerLink="/about" (click)="isMenuCollapsed = true">About</a>
                </li> -->

                <li class="nav-item ">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle
                                *ngIf="!isLogged">Login</button>
                            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle
                                *ngIf="isLogged">Profile</button>
                            <div class="dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <ng-container *ngIf="!isLogged">
                                    <button routerLink="/users/login" ngbDropdownItem>Login</button>
                                    <button routerLink="/users/register" ngbDropdownItem>Register</button>
                                </ng-container>
                                
                                <ng-container *ngIf="isLogged">
                                    <span class="dropdown-item-text">Hello, {{ currentUser!.username }}</span>
                                    <button routerLink="/users/profile" ngbDropdownItem>My Profile</button>
                                    <hr class="dropdown-divider">
                                    <button (click)="logout()" ngbDropdownItem>Logout</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>