<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'.'">Dream Style</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">About</a>
                </li>
                <li class="nav-item ms-4">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Login</button>
                            <div class="dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Login</button>
                                <button ngbDropdownItem>Register</button>
                                <hr class="dropdown-divider">
                                <button ngbDropdownItem>Logout</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>