<section class="bg-dark text-light p-5 text-center text-lg-start">
    <div class="container">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="me-3">
                <h1>Make your furniture <span class="text-warning">fit you</span></h1>
                <p class="lead my-4">
                    Make your order and have a provider make sure everything is ok so that we can make your dream
                    interior
                    come true. You can place an order whit full information or if you're not sure about something a
                    provider
                    can come to make sure everything is fine
                </p>
                <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                    Place an order
                </button>
            </div>
            <img class="img-fluid w-75 d-none d-sm-block pt-5 pt-lg-0" src="/assets/furnitures1.png" alt="Furniture image">
        </div>
    </div>
</section>