
<div class="card mx-auto my-4 w-75" [routerLink]="['/orders', order._id]">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="order.imageUrl ? order.imageUrl : '/assets/sketching1.png'" class="img-fluid rounded-start" alt="Order image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title mb-3 pb-2 border-bottom">{{ order.orderName }}</h2>

        <p class="card-text"><small class="text-muted text-end">from: {{ order.userId.username }}</small></p>
        <p class="card-text">Location: {{ order.address }}</p>
        <p class="card-text">{{ order.description }}</p>
      </div>
    </div>
  </div>
</div>